package ${package}.dao.model;

import lombok.Data;

import java.util.Date;

import javax.persistence.Column;
import javax.persistence.Table;

import lombok.EqualsAndHashCode;
import lombok.Getter;
import lombok.Setter;
import lombok.ToString;

/**
 * ${comments}
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Table(name = "${tableName}")
@Getter
@Setter
@EqualsAndHashCode(callSuper = true)
@ToString(callSuper = true)
public class ${className}Do extends ${className}KeyDo {
    #foreach ($column in $noPkColumns)
        /**
         *  ${column.columnComment}
         */
        @Column(name = "${column.columnName}")
        private $column.attrType $column.attrname;
    #end

}
