package ${package}.domain.Do;

import javax.persistence.Column;
import javax.persistence.Id;
import javax.persistence.Table;

import lombok.EqualsAndHashCode;
import lombok.Getter;
import lombok.Setter;
import lombok.ToString;

/**
 * ${comments}
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Table(name = "${tableName}")
@Getter
@Setter
@EqualsAndHashCode
@ToString(callSuper = true)
public class ${className}KeyDo {
    #foreach ($pk in $pks)
        /**
         *  ${pk.columnComment}
         */
        @Id
        @Column(name = "${pk.columnName}")
        private $pk.attrType $pk.attrname;
    #end

}
