package ${package}.domain.Do;

import javax.persistence.Column;
import javax.persistence.Table;

import lombok.EqualsAndHashCode;
import lombok.Getter;
import lombok.Setter;
import lombok.ToString;


/**
 * ${comments}
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Table(name = "${tableName}")
@Getter
@Setter
@EqualsAndHashCode
@ToString(callSuper = true)
public class ${className}KeyDo {

    #foreach ($column in $columns)
        #if(${pk.columnName} == ${column.columnName})
            /**
             *  ${column.columnComment}
             */
            @Column(name = "${column.columnName}")
            private $column.attrType $column.attrname;
        #end
    #end

}
