package ${package}.dao.intf;

import com.hsjry.lang.mybatis.mapper.common.CommonMapper;
import ${package}.dao.model.${className}Do;


/**
 * ${comments}
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Mapper extends CommonMapper<${className}Do> {


}
